<div class="container-fluid">
  <%= link_to cursos_path, class: 'btn btn-default float-right' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Voltar
  <% end %>
  <h1 class="mt-4 mb-4">Editando Curso</h1>
  <br>
  <div class="card mb-4">
    <div class="card-body">
      <%= render 'form', curso: @curso %>
    </div>
  </div>
</div>
